<h1 style="text-align: center">Exercício Semana 13 - Reprograma</h1><img src="./assets/" />

<img src="./assets/"/>
<h2>Descrição:</h2>
<p style="text-align: justify">Este projeto visa analisar um dataset e compilar informações detalhadas sobre o Índice de Desigualdade de Gênero (Gender Inequality Index - GII) em todo mundo. O GII é uma métrica ampla que avalia as disparidades de gênero em áreas críticas, incluindo saúde, educação e oportunidade econômica.</p>
<ol><p style="text-align: justify">Este banco de dados inclui os seguintes indicadores:</p>
<li><b>Country:</b> o pais ao qual os dados se referem.</li>
<li><b>Human Development:</b> o nível de desenvolvimento humano do país.</li>
<li><b>GII:</b> a pontuação do Índice de Desigualdade de Gênero.</li>
<li><b>Rank:</b> a posição do país no ranking global de desigualdade de gênero.</li>
<li><b>Maternal Mortality:</b> a taxa de mortalidade materna, que funciona como indicador crítico de saúde feminina. Foi calculado um ratio de mortes por 100,000 nascimentos.</li>
<li><b>Adolescent Birth Rate:</b> a taxa de natalidade na adolescência, fator que afeta saúde, oportunidades econômicas e reflete na educação.</li>
<li><b>Seats in Parliament:</b> a representação feminina no parlamento em porcentagem, um fator de igualdade política.</li>
<li><b>Female Secondary Education:</b> a participação feminina no ensino médio. Em porcentagem e incluído apenas mulheres de 25 anos e mais velhas.</li>
<li><b>Male Secondary Education:</b> a participação masculina no ensino médio. Em porcentagem e incluído apenas homens de 25 anos e mais velhos.</li>
<li><b>Female Labor Force Participation:</b> a participação feminina no mercado de trabalho. Em porcentagem, incluso idades de 15 para cima.</li>
<li><b>Male Labor Force Participation:</b> a participação masculina no mercado de trabalho.Em porcentagem, incluso idades de 15 para cima.</li></ol>

<h2>Objetivos do projeto:</h2>
<ul><li style="text-align: justify">Traduzir os dados para aumentar a sua acessibilidade.</li>
<li style="text-align: justify">Limpar os dados do dataset para facilitar a consulta.</li>
<li style="text-align: justify">Facilitar a criação de insights através de visualizações com o <i>Pandas</i> e <i>MatPlotLib</i>.</li>
<li style="text-align: justify">Avaliar a disparidade de gênero em áreas críticas (saúde, educação e oportunidades econômicas) a nível global.</li></ul>

<h2>Fonte de dados:</h2>
<p style="text-align: justify">Os dados utilizados foram obtidos através do Kaggle e fazem parte do conjunto de dados públicos do GII. É possível encontrar informações detalhadas sobre o conjunto de dados <a src="https://www.kaggle.com/datasets/gianinamariapetrascu/gender-inequality-index" target="_blank">aqui</a>.</p>

In [3]:
#Importando os pacotes necessários
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Importando o arquivo Gender_Inequality_Index.csv para um dataframe
df = pd.read_csv("./raw_data/Gender_Inequality_Index.csv")

<h2>Limpeza dos dados</h2>

In [6]:
#Visualizando o início do dataframe
df.head()

,Country,Human_development,GII,Rank,Maternal_mortality,Adolescent_birth_rate,Seats_parliament,F_secondary_educ,M_secondary_educ,F_Labour_force,M_Labour_force
0,Switzerland,Very high,0.018,3.0,5.0,2.2,39.8,96.9,97.5,61.7,72.7
1,Norway,Very high,0.016,2.0,2.0,2.3,45.0,99.1,99.3,60.3,72.0
2,Iceland,Very high,0.043,8.0,4.0,5.4,47.6,99.8,99.7,61.7,70.5
3,Hong Kong,Very high,NaN,NaN,NaN,1.6,NaN,77.1,83.4,53.5,65.8
4,Australia,Very high,0.073,19.0,6.0,8.1,37.9,94.6,94.4,61.1,70.5

<p style="text-align:justify">A primeira etapa ao lidar com um conjunto de dados é a compreensão de sua estrutura e conteúdo.</p>
<p style="text-align:justify">Ao exibir as primeiras linhas do DataFrame, já é possível identificar que os dados estão em inglês e alguns de seus valores estão nulos. Sendo assim, a proxima ação será limpar os dados nulos para garantir que apenas informações válidas estejam presentes nas colunas.</p>

In [7]:
#Tradução das colunas
df = df.rename(columns={
'Country':'País',
'Human_development': 'Desenvolvimento Humano',
'GII': 'IDG',
'Maternal_mortality': 'Mortalidade Materna',
'Adolescent_birth_rate': 'Taxa de Gravidez na Adolescência',
'Seats_parliament': '% Assentos Femininos no Parlamento',
'F_secondary_educ': '% Mulheres com Educação Secundária',
'M_secondary_educ': '% Homens com Educação Secundária',
'F_Labour_force': '% Mulheres no Mercado de Trabalho',
'M_Labour_force': '% Homens no Mercado de Trabalho'
})

In [ ]:
#Tradução dos campos